openapi: 3.0.1
info:
  title: CRM Associations
  version: v4
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: STARTER
  x-hubspot-documentation-banner: NONE
  x-hubspot-api-use-case: "When an existing contact has moved to a new company, update\
    \ their associated company to keep your CRM up to date."
  x-hubspot-related-documentation:
  - name: Associations guide
    url: https://developers.hubspot.com/docs/guides/api/crm/associations/associations-v4
  x-hubspot-introduction: "Use the associations API to create, retrieve, update, or\
    \ delete associations between records, or between records and activities. "
servers:
- url: https://api.hubapi.com
tags:
- name: Batch
- name: Report
- name: Basic
paths:
  /crm/v4/associations/{fromObjectType}/{toObjectType}/batch/archive:
    post:
      description: Batch delete associations for objects
      operationId: "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/archive_archive"
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchInputPublicAssociationMultiArchive"
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: Delete
      tags:
      - Batch
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
  /crm/v4/associations/{fromObjectType}/{toObjectType}/batch/create:
    post:
      description: Batch create associations for objects
      operationId: "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/create_create"
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchInputPublicAssociationMultiPost"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponseLabelsBetweenObjectPair"
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponseLabelsBetweenObjectPairWithErrors"
          description: multiple statuses
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: Create
      tags:
      - Batch
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
  /crm/v4/associations/usage/high-usage-report/{userId}:
    post:
      description: Requests a report of all objects in the portal which have a high
        usage of associations
      operationId: "post-/crm/v4/associations/usage/high-usage-report/{userId}_request"
      parameters:
      - description: ""
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportCreationResponse"
          description: successful operation
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: Report
      tags:
      - Report
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
  /crm/v4/associations/{fromObjectType}/{toObjectType}/batch/labels/archive:
    post:
      description: Batch delete specific association labels for objects. Deleting
        an unlabeled association will also delete all labeled associations between
        those two objects
      operationId: "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/labels/archive_archiveLabels"
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchInputPublicAssociationMultiPost"
        required: true
      responses:
        "204":
          content: {}
          description: No content
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: Delete Specific Labels
      tags:
      - Batch
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
  /crm/v4/associations/{fromObjectType}/{toObjectType}/batch/read:
    post:
      description: "Batch read associations for objects to specific object type. The\
        \ 'after' field in a returned paging object  can be added alongside the 'id'\
        \ to retrieve the next page of associations from that objectId. The 'link'\
        \ field is deprecated and should be ignored. Note: The 'paging' field will\
        \ only be present if there are more pages and absent otherwise."
      operationId: "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/read_getPage"
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchInputPublicFetchAssociationsBatchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponsePublicAssociationMultiWithLabel"
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponsePublicAssociationMultiWithLabelWithErrors"
          description: multiple statuses
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: Read
      tags:
      - Batch
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
  /crm/v4/associations/{fromObjectType}/{toObjectType}/batch/associate/default:
    post:
      description: Create the default (most generic) association type between two
        object types
      operationId: "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/associate/default_createDefault"
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchInputPublicDefaultAssociationMultiPost"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponsePublicDefaultAssociation"
          description: successful operation
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: ' Create Default Associations'
      tags:
      - Batch
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
  /crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}:
    delete:
      description: deletes all associations between two records.
      operationId: "delete-/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}_archive"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: Delete
      tags:
      - Basic
    put:
      description: Set association labels between two records.
      operationId: "put-/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}_create"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/AssociationSpec"
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabelsBetweenObjectPair"
          description: successful operation
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: Create
      tags:
      - Basic
  /crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}:
    get:
      description: List all associations of an object by object type. Limit 500 per
        call.
      operationId: "get-/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}_getPage"
      parameters:
      - explode: false
        in: path
        name: objectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of results to display per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 500
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionResponseMultiAssociatedObjectWithLabelForwardPaging"
          description: successful operation
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: List
      tags:
      - Basic
  /crm/v4/objects/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}:
    put:
      description: Create the default (most generic) association type between two
        object types
      operationId: "put-/crm/v4/objects/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}_createDefault"
      parameters:
      - explode: false
        in: path
        name: fromObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fromObjectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: toObjectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponsePublicDefaultAssociation"
          description: successful operation
        default:
          $ref: "#/components/responses/Error"
      security:
      - private_apps:
        - crm.objects.listings.write
      - private_apps:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.deals.read
      - private_apps:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.orders.read
      - private_apps:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.deals.read
      - private_apps_legacy:
        - contacts
      - oauth2:
        - crm.objects.subscriptions.read
      - private_apps:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.companies.read
      - private_apps_legacy:
        - crm.objects.goals.read
      - private_apps:
        - crm.objects.users.write
      - private_apps_legacy:
        - media_bridge.read
      - private_apps:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2_legacy:
        - tickets
      - private_apps:
        - crm.objects.users.read
      - private_apps_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.users.write
      - private_apps_legacy:
        - e-commerce
      - private_apps:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2_legacy:
        - e-commerce
      - private_apps_legacy:
        - tickets
      - oauth2_legacy:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.appointments.write
      - oauth2_legacy:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.orders.write
      - private_apps:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.commercepayments.read
      - private_apps:
        - crm.objects.contacts.read
      - private_apps:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.write
      - private_apps:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.appointments.read
      - private_apps:
        - crm.objects.invoices.read
      - private_apps:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.quotes.write
      - private_apps:
        - crm.objects.quotes.write
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.leads.read
      - private_apps:
        - crm.objects.courses.write
      - private_apps:
        - crm.objects.line_items.read
      - private_apps:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.contacts.write
      - private_apps:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - private_apps:
        - crm.objects.leads.read
      - oauth2_legacy:
        - crm.objects.custom.read
      - private_apps_legacy:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.line_items.write
      - private_apps:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.courses.read
      - private_apps:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - private_apps:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.carts.read
      - private_apps:
        - crm.objects.partner-clients.read
      - private_apps:
        - crm.objects.quotes.read
      summary: Create Default
      tags:
      - Basic
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: "#/components/schemas/Error"
      description: An error occurred.
  schemas:
    StandardError:
      example:
        subCategory: "{}"
        context:
          key:
          - context
          - context
        links:
          key: links
        id: id
        category: category
        message: message
        errors:
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        status: status
      properties:
        subCategory:
          properties: {}
          type: object
        context:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
        links:
          additionalProperties:
            type: string
          type: object
        id:
          type: string
        category:
          type: string
        message:
          type: string
        errors:
          items:
            $ref: "#/components/schemas/ErrorDetail"
          type: array
        status:
          type: string
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
    LabelsBetweenObjectPair:
      example:
        fromObjectTypeId: fromObjectTypeId
        toObjectId: toObjectId
        toObjectTypeId: toObjectTypeId
        fromObjectId: fromObjectId
        labels:
        - labels
        - labels
      properties:
        fromObjectTypeId:
          type: string
        toObjectId:
          type: string
        toObjectTypeId:
          type: string
        fromObjectId:
          type: string
        labels:
          items:
            type: string
          type: array
      required:
      - fromObjectId
      - fromObjectTypeId
      - labels
      - toObjectId
      - toObjectTypeId
      type: object
    ReportCreationResponse:
      example:
        userEmail: userEmail
        userId: 0
        enqueueTime:
          dateOnly: true
          timeZoneShift: 6
          value: 1
      properties:
        userEmail:
          type: string
        userId:
          format: int32
          type: integer
        enqueueTime:
          $ref: "#/components/schemas/DateTime"
      required:
      - enqueueTime
      - userEmail
      - userId
      type: object
    PublicAssociationMultiWithLabel:
      example:
        from:
          id: id
        paging:
          next:
            link: link
            after: after
          prev:
            before: before
            link: link
        to:
        - associationTypes:
          - typeId: 0
            label: label
            category: HUBSPOT_DEFINED
          - typeId: 0
            label: label
            category: HUBSPOT_DEFINED
          toObjectId: toObjectId
        - associationTypes:
          - typeId: 0
            label: label
            category: HUBSPOT_DEFINED
          - typeId: 0
            label: label
            category: HUBSPOT_DEFINED
          toObjectId: toObjectId
      properties:
        from:
          $ref: "#/components/schemas/PublicObjectId"
        paging:
          $ref: "#/components/schemas/Paging"
        to:
          items:
            $ref: "#/components/schemas/MultiAssociatedObjectWithLabel"
          type: array
      required:
      - from
      - to
      type: object
    BatchInputPublicDefaultAssociationMultiPost:
      example:
        inputs:
        - from:
            id: id
          to:
            id: id
        - from:
            id: id
          to:
            id: id
      properties:
        inputs:
          items:
            $ref: "#/components/schemas/PublicDefaultAssociationMultiPost"
          type: array
      required:
      - inputs
      type: object
    BatchInputPublicAssociationMultiArchive:
      example:
        inputs:
        - from:
            id: id
          to:
          - id: id
          - id: id
        - from:
            id: id
          to:
          - id: id
          - id: id
      properties:
        inputs:
          items:
            $ref: "#/components/schemas/PublicAssociationMultiArchive"
          type: array
      required:
      - inputs
      type: object
    MultiAssociatedObjectWithLabel:
      example:
        associationTypes:
        - typeId: 0
          label: label
          category: HUBSPOT_DEFINED
        - typeId: 0
          label: label
          category: HUBSPOT_DEFINED
        toObjectId: toObjectId
      properties:
        associationTypes:
          items:
            $ref: "#/components/schemas/AssociationSpecWithLabel"
          type: array
        toObjectId:
          type: string
      required:
      - associationTypes
      - toObjectId
      type: object
    DateTime:
      example:
        dateOnly: true
        timeZoneShift: 6
        value: 1
      properties:
        dateOnly:
          type: boolean
        timeZoneShift:
          format: int32
          type: integer
        value:
          format: int32
          type: integer
      required:
      - dateOnly
      - timeZoneShift
      - value
      type: object
    ErrorDetail:
      example:
        subCategory: subCategory
        code: code
        in: in
        context:
          missingScopes:
          - scope1
          - scope2
        message: message
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        code:
          description: The status code associated with the error detail
          type: string
        in:
          description: The name of the field or parameter in which the error was found.
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          type: string
      required:
      - message
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: "#/components/schemas/NextPage"
      type: object
    AssociationSpecWithLabel:
      example:
        typeId: 0
        label: label
        category: HUBSPOT_DEFINED
      properties:
        typeId:
          format: int32
          type: integer
        label:
          type: string
        category:
          enum:
          - HUBSPOT_DEFINED
          - USER_DEFINED
          - INTEGRATOR_DEFINED
          type: string
      required:
      - category
      - typeId
      type: object
    BatchResponseLabelsBetweenObjectPair:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - fromObjectTypeId: fromObjectTypeId
          toObjectId: toObjectId
          toObjectTypeId: toObjectTypeId
          fromObjectId: fromObjectId
          labels:
          - labels
          - labels
        - fromObjectTypeId: fromObjectTypeId
          toObjectId: toObjectId
          toObjectTypeId: toObjectTypeId
          fromObjectId: fromObjectId
          labels:
          - labels
          - labels
        status: PENDING
      properties:
        completedAt:
          format: date-time
          type: string
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
        results:
          items:
            $ref: "#/components/schemas/LabelsBetweenObjectPair"
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    PublicAssociationMultiPost:
      example:
        types:
        - associationCategory: HUBSPOT_DEFINED
          associationTypeId: 0
        - associationCategory: HUBSPOT_DEFINED
          associationTypeId: 0
        from:
          id: id
        to:
          id: id
      properties:
        types:
          items:
            $ref: "#/components/schemas/AssociationSpec"
          type: array
        from:
          $ref: "#/components/schemas/PublicObjectId"
        to:
          $ref: "#/components/schemas/PublicObjectId"
      required:
      - from
      - to
      - types
      type: object
    PublicObjectId:
      example:
        id: id
      properties:
        id:
          type: string
      required:
      - id
      type: object
    BatchResponsePublicAssociationMultiWithLabelWithErrors:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        numErrors: 6
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - from:
            id: id
          paging:
            next:
              link: link
              after: after
            prev:
              before: before
              link: link
          to:
          - associationTypes:
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            toObjectId: toObjectId
          - associationTypes:
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            toObjectId: toObjectId
        - from:
            id: id
          paging:
            next:
              link: link
              after: after
            prev:
              before: before
              link: link
          to:
          - associationTypes:
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            toObjectId: toObjectId
          - associationTypes:
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            toObjectId: toObjectId
        errors:
        - subCategory: "{}"
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category: category
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        - subCategory: "{}"
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category: category
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        status: PENDING
      properties:
        completedAt:
          format: date-time
          type: string
        numErrors:
          format: int32
          type: integer
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
        results:
          items:
            $ref: "#/components/schemas/PublicAssociationMultiWithLabel"
          type: array
        errors:
          items:
            $ref: "#/components/schemas/StandardError"
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    PublicAssociationMultiArchive:
      example:
        from:
          id: id
        to:
        - id: id
        - id: id
      properties:
        from:
          $ref: "#/components/schemas/PublicObjectId"
        to:
          items:
            $ref: "#/components/schemas/PublicObjectId"
          type: array
      required:
      - from
      - to
      type: object
    Paging:
      example:
        next:
          link: link
          after: after
        prev:
          before: before
          link: link
      properties:
        next:
          $ref: "#/components/schemas/NextPage"
        prev:
          $ref: "#/components/schemas/PreviousPage"
      type: object
    PublicDefaultAssociation:
      example:
        associationSpec:
          associationCategory: HUBSPOT_DEFINED
          associationTypeId: 0
        from:
          id: id
        to:
          id: id
      properties:
        associationSpec:
          $ref: "#/components/schemas/AssociationSpec"
        from:
          $ref: "#/components/schemas/PublicObjectId"
        to:
          $ref: "#/components/schemas/PublicObjectId"
      required:
      - associationSpec
      - from
      - to
      type: object
    Error:
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
      properties:
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
            invalidPropertyName:
            - propertyValue
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        errors:
          description: further information about the error
          items:
            $ref: "#/components/schemas/ErrorDetail"
          type: array
      required:
      - category
      - correlationId
      - message
      type: object
    BatchInputPublicAssociationMultiPost:
      example:
        inputs:
        - types:
          - associationCategory: HUBSPOT_DEFINED
            associationTypeId: 0
          - associationCategory: HUBSPOT_DEFINED
            associationTypeId: 0
          from:
            id: id
          to:
            id: id
        - types:
          - associationCategory: HUBSPOT_DEFINED
            associationTypeId: 0
          - associationCategory: HUBSPOT_DEFINED
            associationTypeId: 0
          from:
            id: id
          to:
            id: id
      properties:
        inputs:
          items:
            $ref: "#/components/schemas/PublicAssociationMultiPost"
          type: array
      required:
      - inputs
      type: object
    PublicDefaultAssociationMultiPost:
      example:
        from:
          id: id
        to:
          id: id
      properties:
        from:
          $ref: "#/components/schemas/PublicObjectId"
        to:
          $ref: "#/components/schemas/PublicObjectId"
      required:
      - from
      - to
      type: object
    BatchInputPublicFetchAssociationsBatchRequest:
      example:
        inputs:
        - id: id
          after: after
        - id: id
          after: after
      properties:
        inputs:
          items:
            $ref: "#/components/schemas/PublicFetchAssociationsBatchRequest"
          type: array
      required:
      - inputs
      type: object
    BatchResponsePublicAssociationMultiWithLabel:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - from:
            id: id
          paging:
            next:
              link: link
              after: after
            prev:
              before: before
              link: link
          to:
          - associationTypes:
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            toObjectId: toObjectId
          - associationTypes:
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            toObjectId: toObjectId
        - from:
            id: id
          paging:
            next:
              link: link
              after: after
            prev:
              before: before
              link: link
          to:
          - associationTypes:
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            toObjectId: toObjectId
          - associationTypes:
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            - typeId: 0
              label: label
              category: HUBSPOT_DEFINED
            toObjectId: toObjectId
        status: PENDING
      properties:
        completedAt:
          format: date-time
          type: string
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
        results:
          items:
            $ref: "#/components/schemas/PublicAssociationMultiWithLabel"
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    BatchResponsePublicDefaultAssociation:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        numErrors: 0
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - associationSpec:
            associationCategory: HUBSPOT_DEFINED
            associationTypeId: 0
          from:
            id: id
          to:
            id: id
        - associationSpec:
            associationCategory: HUBSPOT_DEFINED
            associationTypeId: 0
          from:
            id: id
          to:
            id: id
        errors:
        - subCategory: "{}"
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category: category
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        - subCategory: "{}"
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category: category
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        status: PENDING
      properties:
        completedAt:
          format: date-time
          type: string
        numErrors:
          format: int32
          type: integer
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
        results:
          items:
            $ref: "#/components/schemas/PublicDefaultAssociation"
          type: array
        errors:
          items:
            $ref: "#/components/schemas/StandardError"
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    AssociationSpec:
      example:
        associationCategory: HUBSPOT_DEFINED
        associationTypeId: 0
      properties:
        associationCategory:
          enum:
          - HUBSPOT_DEFINED
          - USER_DEFINED
          - INTEGRATOR_DEFINED
          type: string
        associationTypeId:
          format: int32
          type: integer
      required:
      - associationCategory
      - associationTypeId
      type: object
    BatchResponseLabelsBetweenObjectPairWithErrors:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        numErrors: 0
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - fromObjectTypeId: fromObjectTypeId
          toObjectId: toObjectId
          toObjectTypeId: toObjectTypeId
          fromObjectId: fromObjectId
          labels:
          - labels
          - labels
        - fromObjectTypeId: fromObjectTypeId
          toObjectId: toObjectId
          toObjectTypeId: toObjectTypeId
          fromObjectId: fromObjectId
          labels:
          - labels
          - labels
        errors:
        - subCategory: "{}"
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category: category
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        - subCategory: "{}"
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category: category
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        status: PENDING
      properties:
        completedAt:
          format: date-time
          type: string
        numErrors:
          format: int32
          type: integer
        requestedAt:
          format: date-time
          type: string
        startedAt:
          format: date-time
          type: string
        links:
          additionalProperties:
            type: string
          type: object
        results:
          items:
            $ref: "#/components/schemas/LabelsBetweenObjectPair"
          type: array
        errors:
          items:
            $ref: "#/components/schemas/StandardError"
          type: array
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
    PreviousPage:
      example:
        before: before
        link: link
      properties:
        before:
          type: string
        link:
          type: string
      required:
      - before
      type: object
    CollectionResponseMultiAssociatedObjectWithLabelForwardPaging:
      example:
        paging:
          next:
            link: link
            after: after
        results:
        - associationTypes:
          - typeId: 0
            label: label
            category: HUBSPOT_DEFINED
          - typeId: 0
            label: label
            category: HUBSPOT_DEFINED
          toObjectId: toObjectId
        - associationTypes:
          - typeId: 0
            label: label
            category: HUBSPOT_DEFINED
          - typeId: 0
            label: label
            category: HUBSPOT_DEFINED
          toObjectId: toObjectId
      properties:
        paging:
          $ref: "#/components/schemas/ForwardPaging"
        results:
          items:
            $ref: "#/components/schemas/MultiAssociatedObjectWithLabel"
          type: array
      required:
      - results
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        link:
          type: string
        after:
          type: string
      required:
      - after
      type: object
    PublicFetchAssociationsBatchRequest:
      example:
        id: id
        after: after
      properties:
        id:
          type: string
        after:
          type: string
      required:
      - id
      type: object
  securitySchemes:
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.objects.custom.read: View custom object records
            tickets: Read and write tickets
            crm.objects.goals.read: Read goals
            media_bridge.read: Read media and media events
            crm.objects.custom.write: Change custom object records
            e-commerce: e-commerce
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            crm.objects.courses.write: Write courses
            crm.objects.carts.write: Write cart
            crm.objects.listings.read: Read listings
            crm.objects.contacts.read: ' '
            crm.objects.orders.read: Read Orders
            crm.objects.services.read: Read services
            crm.objects.quotes.read: Quotes
            crm.objects.orders.write: Write orders
            crm.objects.carts.read: Read carts
            crm.objects.subscriptions.read: Read Commerce Subscriptions
            crm.objects.leads.write: Modify lead objects
            crm.objects.commercepayments.read: Read the COMMERCE_PAYMENT object.
            crm.objects.users.write: Write User CRM objects
            crm.objects.contacts.write: ' '
            crm.objects.companies.write: ' '
            crm.objects.listings.write: Write listings
            crm.objects.line_items.write: Line Items
            crm.objects.deals.write: ' '
            crm.objects.partner-clients.read: View Partner Client CRM objects
            crm.objects.invoices.read: Read invoices objects
            crm.objects.deals.read: ' '
            crm.objects.courses.read: Read courses
            crm.objects.line_items.read: Line Items
            crm.objects.services.write: Write services
            crm.objects.appointments.write: Write appointments
            crm.objects.leads.read: Read lead objects
            crm.objects.partner-clients.write: Modify Partner Client CRM objects
            crm.objects.appointments.read: Read appointments
            crm.objects.companies.read: ' '
            crm.objects.users.read: Read User CRM objects
            crm.objects.quotes.write: Quotes
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
    private_apps:
      in: header
      name: private-app
      type: apiKey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-product-tier-requirements:
  marketing: FREE
  sales: FREE
  service: FREE
  cms: STARTER
x-hubspot-documentation-banner: NONE
